@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat Alternates';
}

:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f1f1f1;
    --dark: #343a40;

}
/*colours of global classes  of cases*/

.Active{
    background-color: var(--cyan);
}
.confirm{
    background-color: var(--yellow);
    color: black;
}
.Cured{
    background-color: var(--green);
}
.Death{
    background-color: var(--red);
}


#container{
    position: absolute;
    width: 100vw;
}

/* section top fixed */
#staytop{
    position: fixed;
    width: 100%;
    background-color: var(--dark);
    color: var(--white);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
}

#cov{
    font-family: 'Source Serif 4', sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    margin-left: 15px;
}
#ind{
    font-family: Verdana;
    font-size: 1.2em;
}
.casbut{
    display: inline-block;
    padding: 5px;
}
.tpbox{
    /* background-color: red; */
    padding: 4px 10px;
    margin: 0px 2px;
    min-width: 30px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 17px;
}
#creator{
    display: inline-block;
    position: absolute;
    padding: 5px 0px;
    right: 3vw;
    font-size: 20px;
    justify-content: center;
}

#creator > #fir{
    color: var(--gray);
    font-family: cursive;

}
#creator > a {
    text-decoration: none;
}
#creator > a > span{
    color: var(--white);
    font-family: cursive;
}

/* section 1*/
#sec1{
    background-color: var(--light);
    min-height: 100px;
    /* width: 100%; */
    padding: 130px 20px 80px 25px;
    font-size: 22px;
    font-weight: 400;
}
#greet{
    padding: 5px 0px;
    font-size: 40px;
    font-weight: 600;
}
#my-view{
    padding: 5px 0px 10px;
}
#slang{
    padding: 0 0 15px;
    font-size: 28px;
    font-weight: 500;
}
.hashes{
    font-size: 13px;
    color: var(--white);
}
.tags{
    padding: 3px 7px;
    margin: 5px 0;
    border-radius: 10px;
    font-weight: 600;
}
#s1{
    background-color: var(--green);
    display: inline-block;
}
#s2{
    background-color: var(--gray);
    display: inline-block;
}

/* toggle section*/
#todays-report{
    border: 1px solid #ffb6bc;
    margin: 40px 10vw;
    /* padding: 20px 15vw 20px 20px; */
    padding: 20px 20px 40px;
    color: #660008;
    background-color: #f8d7da;
    font-size: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}
#todays-report > div{
    margin-right: 10vw;
}
#todays-report > div > h1{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 10px;
}
#todays-report > div strong{
    font-weight: 600;
}
#todays-report > button{
    color: #8d2a32b4;
    background-color: #f8d7da;
    font-family: sans-serif;
    font-size: 1.5rem;
    border: none;
    height: 20px;
    width: 20px;

}

/* cases tabs*/
#case-tabs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.tabs{
    width: 350px;
    height: 50px;
    margin: 4px;
    padding: 100px auto;
    border-radius: 5px;
    color: var(--white);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-ons{
    background-color: var(--white);
    margin-left: 10px;
    text-align: center;
    color: black;
}
#t1{
    color: black;
}
#t1:hover{
    background-color: #c09209;
}
#t2:hover{
    background-color: #127786;
}
#t3:hover{
    background-color: #1c7230;
}
#t4:hover{
    background-color: #aa2b38;
}

/* Do and dnt table*/  /* Symptoms table*/
#do-n-dnt, #symp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 1rem;
}
#table-1, #table-2{
    border-collapse: collapse;
    width: 90%;
}
th{
    font-weight: 600;
}
th, td{
    border: 2px solid #d1d1d1;
    padding: 20px 10px;

}
.fill{
    background-color: var(--light);
}
/* symp td elements*/
#symp td > *{
    margin: 5px 10px 20px;
    line-height: 25px;
}
#symp td strong{
    font-weight: 600;
}
#symp td ul{
    margin-left: 50px;
    margin-top: 0;
}
#symp td a{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
#symp-p2{
    margin-bottom: 0px;
}